.heder-of-city-guidde {
  position: fixed;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #173b70;
  z-index: 100;
  box-sizing: content-box !important;
  width: 100%;
  overflow: hidden;
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  /* box-shadow: 2px 2px 5px rgb(255, 255, 255); */
}
img {
  width: 25%;
  padding: 1% 1%;
}
.heder-of-city-guidde span {
  font-size: 200%;
  font-weight: 600;
  padding-right: 2rem;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
  .heder-of-city-guidde span {
    font-size: 105%;
    padding-right: 20px;
  }

  .heder-of-city-guidde img {
    width: 35%;
    margin: 1% 0%;
  }
}
