.heder-of-city-guidde {
  position: fixed;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  background-color: #900f0f;
  z-index: 100;
  box-sizing: content-box !important;
  width: 100%;
  overflow: hidden;
  /* border-bottom: 2px solid black; */
  /* box-shadow: 2px 2px 5px rgb(255, 255, 255); */
}
img {
  width: 30rem;
  margin: 1% 2%;
}
span {
  font-size: 200%;
  font-weight: 600;
  padding-right: 1rem;
}

@media only screen and (max-width: 768px) {
  span {
    font-size: 110%;
    padding-right: 10px;
  }
  img {
    width: 14rem;
    /* margin: 1% 2%; */
  }
  .heder-of-city-guidde {
    position: fixed;
    height: 6rem;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
  gap: 2rem;
    
    align-items: center;
    background-color: #900f0f;
    z-index: 100;
    box-sizing: content-box !important;
    width: 100%;
    overflow: hidden;
    /* border-bottom: 2px solid black; */
    /* box-shadow: 2px 2px 5px rgb(255, 255, 255); */
  }
}

